.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; /
}
.white-side{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: white; 
  z-index: 1;
}
.pcl{
  color:hsl(0, 0%, 41%);
}