:root{
  --red:hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue:hsl(249, 32%, 49%);
  --grayish-blue: hsl(246, 25%, 77%)
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  position: absolute;
  bottom: 0;
}
.container{
  width: 1440px;
  background: url(images/bg-intro-desktop.png);
  background-color: var(--red);
}
main{
  width: 100%;
  height: 100%;
  padding: 40px 155px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left-side{
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 50px;
}
.left-side>h1{
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1.2;

}
.right-side{
  /* border: 1px solid black; */
  padding-right: 15px;
  /* margin: auto; */
  padding-top: 75px;
}
.try-it{
  width: 100%;
  background-color: var(--dark-blue);
  text-align: center;
  padding: 16px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  /* box-shadow: rgb(255, 255, 255) 0px 25px 20px -25px; */
  box-shadow: 0px 7px rgba(0, 0, 0, 0.1) ;
  margin-bottom: 20px;
}
.form{
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.1) ;
  position: relative;
}
.form>div>input{
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid var(--grayish-blue);
}
.form>div{
  display: flex;
  flex-direction: column;
  position: relative;
}
.form>div>input:focus{
  outline: none;
  border-width: 2px !important;
  border-color: var(--dark-blue) !important;
}
.form>input[type="submit"]{
  background-color: var(--green);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 25px;
  box-shadow: 0px 3px rgba(0, 0, 0, .4) ;
  border-radius: 10px;

  
}
.form>p{
  text-align: center;
  color: var(--grayish-blue);
  font-size: 12px;
}
.form>p>span{
  font-weight: 700;
  color: var(--red);
}
.error{
  color: red;
  font-size: 12px;
  text-align: right;
  font-style: italic;
  display: none;
}
.error>svg{
  position: absolute;
  bottom: 45%;
  right: 5%;
}
