:root{
  --Blue:hsl(223, 87%, 63%);
  --Pale-Blue:hsl(223, 100%, 88%);
  --Light-Red:hsl(354, 100%, 66%);
  --Gray:hsl(0, 0%, 58%);
  --Very-Dark-Blue:hsl(209, 33%, 12%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main{
  width: 1440px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topside{
  width: 100%;
}
.logo{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.button h2 {
  color: var(--Gray);
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
.button h2 span {
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}
.button p{
  text-align: center;
  color: var(--Gray);
  margin-bottom: 16px;
  font-size: 14px;
}
.input{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.input input{
  padding: 16px;
  width: 60%;
  border-radius: 35px;
  border: 1px solid var(--Gray);
}
.input button{
  width: 40%;
  color: white;
  background-color: var(--Blue);
  border-radius: 35px;
  border: none;
}
.botside{
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.botside img{
  width: 100%;
}
.footer{
  width: 100%;
  text-align: center;  
}
.icons i{
  padding: 16px;
  margin-left: 16px;
  border-radius: 500px;
  color: var(--Blue);
  border: 1px solid var(--Gray);
}
.footer p {
  font-size: 14px;
  color: var(--Gray);
}