:root{
  --Blue:hsl(223, 87%, 63%);
  --Pale-Blue:hsl(223, 100%, 88%);
  --Light-Red:hsl(354, 100%, 66%);
  --Gray:hsl(0, 0%, 58%);
  --Very-Dark-Blue:hsl(209, 33%, 12%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main{
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topside{
  width: 100%;
}
.logo{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.button h2 {
  color: var(--Gray);
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  font-size: 45px;
}
.button h2 span {
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}
.button p{
  text-align: center;
  margin-bottom: 16px;
  /* font-size: 14px; */
}
.input{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.emi{
  padding: 16px;
  width: 70%;
  border-radius: 35px;
  border: 1px solid var(--Gray);
}
.emi:focus{
  outline: none;
}
.emi::placeholder{
  color: var(--Gray);
  opacity: .5;
}
.notify-btn{
  width: 30%;
  color: white;
  background-color: var(--Blue);
  border-radius: 35px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px var(--Pale-Blue);
}
.notify-btn:hover{
  background-color: var(--Pale-Blue);
  color: blue;
}
.emailerror{
  border-color: var(--Light-Red);
}
.emailerror::placeholder{
  color: black;
  opacity: 1;
}
.error{
  color: var(--Light-Red) ;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 16px;
  font-style: italic;
  display: none;
  position: absolute;
}
.botside{
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.botside img{
  width: 100%;
}
.container-footer{
  width: 100%;
  text-align: center;  
}
.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.icons i{
  width: 30px;
  height: 30px;
  border-radius: 25px;
  color: var(--Blue);
  border: 1px solid var(--Pale-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.icons i:hover{
  color: white;
  background-color: var(--Blue);
}
.container-footer p {
  font-size: 14px;
  color: var(--Gray);
  margin-bottom: 20px;
}
@media only screen and (max-width:968px) {
  main{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container{
    width: 85%;
  }
  .input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .emi{
    width: 100%;
  } 
  .notify-btn{
    width: 100%;
    padding: 16px;
  }
  .button h2 {
    margin-bottom: 16px;
    font-size: 24px;
}
.button p {
  margin-bottom: 26px;
  font-size: 16px;
}
.container-footer{
  margin-top: 80px;
}
}