:root{

  /* Text */
  --Very-dark-desaturated-blue:hsl(238, 29%, 16%);
  --Soft-red:hsl(14, 88%, 65%);
  --Very-dark-grayish-blue:hsl(237, 12%, 33%);
  --Dark-grayish-blue:hsl(240, 6%, 50%);

  /* Gradient */
  --Soft-violet:hsl(273, 75%, 66%);
  --Soft-blue:hsl(240, 73%, 65%);

  /* Dividers */
  --Light-grayish-blue:hsl(240, 5%, 91%);


}
body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom,var(--Soft-violet),var(--Soft-blue));
  margin: 0 auto;

}
.bgcontainer{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  width: 1440px;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-size: cover;
  margin: 0 auto;

}

.container{
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 60%;
}
.leftSide{
  background: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: -560px -300px;
  height: 100%;
  
}
.ill-wod{
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.woman{
  
  width: 100%;
  height: 100%;
  background: url("images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat;

  background-position-x: -60px;
  background-position-y: 60px;
}
.box{
    position: absolute;
    height: 120px;
    left: -22.2%;
    top: 42%;
}

.rightSide{
  padding: 4rem;
  padding-right: 5rem;
}
.rightSide>h1{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.faq-list>li{
  border-bottom: 1px solid var(--Dark-grayish-blue);
  padding: 1rem 0;
  font-size: 16px;
  cursor: pointer;
}
.active .icon {
  transform: rotate(180deg);
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Dark-grayish-blue);
  width: 100%;
  height: 100%;
}
.question:hover{
  color: var(--Soft-red);
}
.answer{
  display: none;
  /* margin: 1rem 0; */
  margin-top: 1rem;
  font-size: 14px;
  color: var(--Dark-grayish-blue);
  /* font-weight: 800; */
  line-height: 1.2;
  cursor: auto;
}
.active{
  color: black;
  font-weight: 800;
}
@media only screen  and (max-width:768px){
  .bgcontainer{
    width: 375px;
    margin-top: 3rem;
     height: 100%;
  }
  .container{
    grid-template-columns: 1fr;
    width: 90%;
  }
  .box{
    display: none;
  }
  .leftSide{
    height: 100px;
    background-image: none;
    background: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  .woman{
    height: 200px;
    background: url("images/illustration-woman-online-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin-top: -140px;
  }
  .rightSide{
    padding: 25px;
   
  }
  .rightSide>h1{
    text-align: center;
  }
  .question{
    font-size: 14px;
  }
  .question:hover{
    color: black;
  }
}
@media only screen  and (max-width:768px){
  .bgcontainer{
    width: 90%;
    margin-top: 3rem;
     height: 100%;
  }
}